./Dataset
./IMU_results
./video_results
./video_imu_results
./Synchronized_Dataset
./Segmented_Dataset
./Segmented_Dataset1
./__pycache__
./6people.png
./6people.pt

Dataset
IMU_results
video_results
Synchronized_Dataset
Synchronized_Dataset_Realtime
Segmented_Dataset
Segmented_Dataset_Realtime
Segmented_Dataset1
__pycache__
6people.png
6people.pt